@media (max-width: 1580px) {
  #aboutImg,
  .mainLogo {
    display: none;
  }

  .smallLogo {
    display: block;
  }

  #servicesPageRightSide {
    width: 25%;
  }

  #servicesPageLeftSide {
    width: 75%;
  }
}

@media (max-width: 1380px) {
  #topBar {
    justify-content: center;
  }

  #logo,
  .smallLogo {
    display: none;
  }
}

@media (max-width: 1100px) {
  #container {
    display: none;
  }
  #phoneContainer {
    display: block;
  }
}
