#phoneContainer {
  display: none;
  height: 104vh;
  width: 100vw;
  overflow: scroll;
  background-color: #fff;
}

.dark {
  background: radial-gradient(#D1001B, #870012);
  color: #fff;
}

.phonePage {
  height: 90vh;
  width: 100vw;
  position: relative;
  justify-content: flex-start;
}

.sidePhoneBtn {
  position: absolute;
  right: 0;
  line-height: 0.2;
  font-size: 4em;
  background-color: #870012;
  color: #fff;
  padding: 0.5em;
  top: 16vh;
  border: 0.01em solid #fff;
  border-right: none;
  font-weight: 100;
  text-align: center;
}

.sidePhoneBtnContainer {
  position: absolute;
  font-size: 4em;
  color: #fff;
  right: 0.25em;
  top: 10vh;
  z-index: 18;
}

.sidePhoneBtnContainer > * {
  line-height: 0.2;
  background-color: #870012;
  padding: 1rem;
  border: 0.01em solid #fff;
  border-right: none;
  font-weight: 100;
  text-align: center;
}

.phoneTopBar {
  justify-content: flex-start;
}

.phoneTopBar > p {
  font-size: 6em;
  font-weight: 100;
  margin: 0;
}

.phoneTopBar > *:first-child {
  margin-left: 4rem;
}

.phoneTopBar div p {
  font-size: 1.4em;
  position: relative;
  left: -1em;
}

#phoneImg {
  justify-content: flex-end;
  position: relative;
}

#phoneImg #audioPlayer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
}

#phoneImg p {
  font-size: 3em;
}

#chooseSongBtn {
  border-top: 0.01em solid var(--darkRed);
  color: var(--darkRed);
}

#chooseSongBtn p {
  font-size: 4em;
  font-weight: 100;
}

#phoneAboutText {
  font-size: 4em;
  font-weight: 100;
  text-align: center;
}

#servicePhone div {
  width: 70vw;
  margin: 0 auto;
}

#servicePhone div p {
  font-size: 4em;
  font-weight: 100;
  margin: 0;
  line-height: 4;
}

#phoneContact {
  font-size: 3em;
  font-weight: 100;
}

.phoneContactSmallText {
  font-size: 2em;
  font-weight: 100;
}

#phoneStaffList {
  overflow: scroll;
  height: 70em;
  width: 80%;
}

#phoneOptionScreen {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222;
  opacity: 0.9;
  z-index: -1;
}

#xBtn {
  justify-content: flex-end;
}

#xBtn > * {
  margin-right: 1em;
  font-size: 8em;
  color: #fff;
}

#text,
#phoneList {
  font-size: 4em;
  text-align: center;
  color: #fff;
  overflow: scroll;
  height: 20em;
}

#phoneList p {
  color: #fff;
}

#phonePage1 > .sidePhoneBtn,
#phonePage1 > .sidePhoneBtn2 {
  z-index: 10;
}

#phoneImg #audioPlayer #playBtnHolder .playBtn::after {
  height: 0.0;
  width: 0;
}

/* #phoneImg #audioPlayer #playBtnHolder */
